<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mintrello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav class='nav'>
        <a class='nav-brand' href='/'>
            Mintrello
        </a>
        <ul class='nav-list'>
            <% if(!user) { %>
                <li class='nav-item'>
                <a class='nav-link' href='/login'>
                    Login
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/register'>
                    Sign up
                </a>
            </li>
            <% } else { %>
            <li class='nav-item'>
                <a class='nav-link' href='#'>
                    Logged in as: <%= user.name %>
                </a>
            </li>
            <% } %>
        </ul>
    </nav>