<%- include('./partials/header'); -%>

<div class= wrapper>
        <h1 class="header">Mintrello</h1>

        <ul class='wrapper-list'>
            <li class='wrapper-item'>
                <a class='wrapper-link' href='/login'>
                    Login
                </a>
            </li>
            <li class='wrapper-item'>
                <a class='wrapper-link' href='/register'>
                    Sign up
                </a>
            </li>
    </div>

</body>

</html>